.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.settings/
.loadpath
.recommenders
.DS_Store
out/


# Eclipse Core
.project

# sbteclipse plugin
.target
target/
build/
gradle/
gradlew
gradlew.bat
.gradle
.idea/
classes


settings.gradle

# ignore files in folder foo
OUTPUT_QUERY/*
# but keep the folder
!OUTPUT_QUERY/.keep